---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Button from "../shared/Button.astro";


---

<section id="about-us">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/no-one.webp"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Without my secret, you won't have access to the true opportunity of going on a vacation funded by someone else. 
            </Title>
            <Paragraph className="mt-8">
                No matter how long you search, no one will reveal the secrets of getting paid for travel or moving abroad.<br><br>

                I won't hand you $6000, but I will reveal the sources that provide this generous amount and show you how to obtain it. <br><br>
Many lists and sources claim to hold the secret to this opportunity, but most of them are outdated or ineffective. Through my secret, you can construct a relocation plan that is backed by knowing who would fund your vacation and how you can receive financial support.<br><br>

            </Paragraph>
                                     <a href="https://content.goabroadpass.com/asset/1:buy-on-gumroad-1">                  
                        <Button variant={"primary"} className={"min-w-max text-white"}>
                             Order now! Only $49 + VAT
                        </Button>
                    </a>
           
        </div>
    </Container>
</section>