---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="about-us">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/dev-with-c-1.webp"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                If this opportunity is so incredible, why am I selling it instead of taking a paid holiday myself?
            </Title>
            <Paragraph className="mt-8">
                The opportunity I mentioned is indeed a once-in-a-lifetime chance. It is a legally provided benefit, but it can only be claimed once per person. I have already taken advantage of this opportunity and have benefited from it.<br><br>

Additionally, it's important to note that the fund supporting this opportunity is limited. This means that the availability of funds may be subject to change or discontinuation. To maximize your chances of benefiting from this program, I highly recommend acting quickly. Seize the opportunity while it lasts, as we cannot predict when the fund will no longer be available.<br><br>
It's not something you find out, it's something that's not accessible to the masses, but if you get the direction you can get it, because it's available to everyone because of the law.


            </Paragraph>
           
        </div>
    </Container>
</section>