---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Button from "../shared/Button.astro";

---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
               Claim your $6000 relocation bonus at your government!
            </Title>
            <Paragraph>
I will personally guide you through simple steps to turn your dreams into reality by moving or traveling abroad and getting paid without working. <br><br>
Whether you have already left your home country or not, now is the perfect opportunity to have others cover your expenses abroad.<br><br>
It's never too late to discover the secret that will help you claim your funding. <br><br>
Say goodbye to the costly and extreme routes of relocation.<br><br>

            </Paragraph>
             <a href="https://content.goabroadpass.com/asset/1:buy-on-gumroad-1">                  
                        <Button variant={"primary"} className={"min-w-max text-white"}>
                             Order now! Only $49 + VAT
                        </Button>
                    </a>
            
        </div>
    </Container>
</section>