---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Paid vacation - works like magic
            </Title>
            <Paragraph>
The older I get, the more I realize how many of us miss our younger days with more energy, vitality, libido, and not to mention – freedom!<br><br>
Our spirits still have a love of life and a desire to make new memories.<br>
It's such a shame to miss your last chance.<br><br>
I think you can relate to that.<br><br>
Now... Imagine taking your time on the beach or in the mountains, feeling like you don't have to do anything and the government pays for it?<br><br>
It’s not impossible.<br><br>
How would it feel to have time to focus on yourself and leave the problems behind?<br><br>
Wouldn't it be GREAT if you could just get a relocation bonus even if you don't have an employer?
            </Paragraph>
        </div>
    </Container>
</section>