---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Button from "../shared/Button.astro";

---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
               How Much?
            </Title>
            <Paragraph>
            This sounds like exactly what you need, but you may be wondering why I put this pricetag on it.<br><br>
I have only one mission with this Book - that is to help others to live a fulfilled life!
But at the same time, I don’t want people to squander it… If I offer this discovery for free, no one will take it seriously.<br><br>
I only want those who are committed to improve their lives and build a promising future to be able to get their hands on this..<br><br>
            </Paragraph>
                                     <a href="https://goabroadpass.gumroad.com/l/AXZGz?wanted=true">                  
                        <Button variant={"primary"} className={"min-w-max text-white"}>
                             Order now! Only $49 + VAT
                        </Button>
                    </a>
        </div>
    </Container>
</section>