---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import Button from "../shared/Button.astro";

---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                This is your chance to discover my secrets to attain genuine freedom and happiness in life.
            </Title>
            <Paragraph>
Leaving your comfort zone opens the door to living your best life. <br><br>
Traveling and going on vacation are crucial for experiencing new things and building confidence as you navigate through unfamiliar situations. <br><br>
However, funding these experiences can be stressful, which is why you should pursue this relocation bonus.<br><br>
I've invested considerable time to crack the system and uncover a legitimate method for obtaining funds for free travel. Now, I'm giving you permission to adopt my method and apply it to your own future.<br><br>
ps: Neither ChatGPT nor Google can assist you in this endeavor.<br><br>
            </Paragraph>
                                     <a href="https://content.goabroadpass.com/asset/1:buy-on-gumroad-1">                  
                        <Button variant={"primary"} className={"min-w-max text-white"}>
                             Order now! Only $49 + VAT
                        </Button>
                    </a>
        </div>
    </Container>
</section>