---
import Layout from '../layouts/Layout.astro';
import Hero1 from '../components/sections/Hero1.astro';
import Services1 from '../components/sections/Services1.astro';
import Services2 from '../components/sections/Services2.astro';
import AboutUs1 from '../components/sections/AboutUs1.astro';
import Features1 from '../components/sections/Features1.astro';
import CTA1 from '../components/sections/CTA1.astro';
---

<Layout title="Welcome to GoAbroadPass">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<br>
		<CTA1/>
		<Services1/>
		<Hero1/>
		<AboutUs1/>
		<Features1/>
		<Services2/>
	</main>
</Layout>