---
import Layout from '../layouts/Layout.astro';
import Hero1 from '../components/sections/Hero1.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import Features from '../components/sections/Features.astro';
import CTA1 from '../components/sections/CTA1.astro';
---

<Layout title="Welcome to GoAbroadPass">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<br>
		<CTA1/>
		<Services/>
		<Hero1/>
		<AboutUs/>
		<Features/>
	</main>
</Layout>